<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home pages</title>
</head>
<body>
    <h3><%= 2+5 %></h3>
    <h2><%= 4-8 %></h2>
    <h1>THIS IS MY PARAGRAPH</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, sit quibusdam provident, amet repellat magnam obcaecati ea animi, cumque iusto maxime error molestiae corrupti fuga necessitatibus vel ducimus facere quae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, quasi nemo. Nisi delectus sint necessitatibus aperiam molestiae laboriosam explicabo atque magni corrupti sed, aliquid, fugiat porro quisquam voluptatem saepe esse!</p>
</body>
</html>